@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --second: #dfedf3;
  --card-shadow: 0 0 0 0 #bacad1, 0 4px 24px 0 #bacad1;
}

* {
  scroll-behavior: smooth;
}

html,
body {
  height: 100svh;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 60px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  cursor: pointer;
  width: 180px;
  height: 60px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 48%;
  top: 8px;
  left: 8px;
  bottom: 8px;
  background-color: white;
  box-shadow: 0 0 0 0 #bacad1, 0 4px 24px 0 #bacad1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(90%);
  -ms-transform: translateX(90%);
  transform: translateX(90%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 34px;
}

/* ======================================================= */

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #62797f 0.89%,
    #476a72 17.23%,
    #34626e 42.04%,
    #225d6e 55.12%,
    #023646 71.54%,
    #023646 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-second-gradient {
  background: rgb(207, 225, 233);
  background: linear-gradient(72deg, #cfe1e9 0%, #d2e3eb 65%, #d7e5ec 100%);
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.navbar {
  position: relative;
}

.project-card {
  transition: background 1s, box-shadow 0.3s, transform 0.3s;
}
.project-card:hover {
  background: var(--second);
  box-shadow: var(--card-shadow);
  transform: scale(1.03, 1.03);
}

.project-btn {
  transition: background 0.4s, box-shadow 0.3s;
}
.wrapper {
  transition: transform 0.45s;
}
.sub-wrapper {
  transition: transform 0.15s;
}
.project-btn:hover {
  background: var(--second);
  box-shadow: inset 0px 0px 0px 2px white;
}
.site-btn img {
  transition: transform 0.4s;
}
.site-btn:hover img {
  transform: translateX(30%);
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(60px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(300px);
}

.white__gradient {
  background: rgba(255, 255, 255, 1);
  filter: blur(350px);
}
